<% if user_signed_in? %>
<%= render 'shared/tech_header' %>
<br>
<div>
<%= link_to 'Sites', tech_sites_path %> N: <%= @tech_sites_count %>
</div>
<div>
<%= link_to 'Listings', tech_listings_path %> N: <%= @tech_count %>
</div>
<div>
<%= link_to 'Flagged', tech_flagged_path %> N: <%= @flagged_count %>
</div>
<div>
<%= link_to 'Submitted', tech_submitted_path %> N: <%= @submitted_count %>
</div>
<% end %>