<% if user_signed_in? %>
  <p id="notice"><%= notice %></p>

  <%= render 'shared/tech_header' %>
  <br>
  <div>
    <%= link_to 'Remove all flags', tech_flagged_remove_path %> - 
    <%= link_to 'Rescrape all listings', tech_rescrape_path %> - 
    <%= link_to 'Scrape new listings', tech_scrape_path %>
  </div>
  <br>
  <h1>Listing Tech Listings</h1>
  <%= form_tag(tech_listings_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search" %>
  <%= submit_tag "Search" %>
  <br>
  <br>
  <% end %>

  <% if @tech_listings.present? %>
    <table style="max-width:1000px;margin:0px auto;">
      <thead>
        <tr>
          <th style="width:35%;">Name</th>
          <th style="width:55%;">Description</th>
          <th style="width:1%;">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @tech_listings.each do |tech_listing| %>
          <tr>
            <td><a href="<%= tech_listing.url %>" target="_blank"><%= tech_listing.name %></a></td>
            <td><%= tech_listing.description %></td>
            <td><%= link_to 'Show', tech_listing %> <%= link_to 'Edit', edit_tech_listing_path(tech_listing) %> <%= link_to 'Destroy', tech_listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <%= will_paginate @tech_listings %>
    <br>
  <% else %>
    <br>
    <p>No results found.</p>
  <% end %>
<% end %>