<% if user_signed_in? %>
<p id="notice"><%= notice %></p>
<%= render 'shared/tech_header' %>
<br>
<p>
  <h3><a href="<%= @tech_listing.url %>" target="_blank"><%= @tech_listing.name %></a></h3>
</p>

<p>
  <strong>From:</strong>
  <a href="<%= @tech_listing.source_url %>" target="_blank"><%= @tech_listing.source %></a>
</p>

<p>
  <%= @tech_listing.description %>
</p>

<p>
  <strong>Flagged:</strong>
  <%= @tech_listing.flagged %>
</p>

<p>
  <strong>Submitted:</strong>
  <%= @tech_listing.submitted %>
</p>

<%= link_to 'Edit', edit_tech_listing_path(@tech_listing) %> |
<%= link_to 'Back', tech_listings_path %>
<% end %>