<div>
<%= link_to 'Dashboard', tech_path %> - 
<%= link_to 'Sites', tech_sites_path %> -
<%= link_to 'Listings', tech_listings_path %> - 
<%= link_to 'Flagged', tech_flagged_path %> - 
<%= link_to 'Submitted', tech_submitted_path %>
</div>