<% if user_signed_in? %>
<div class="body">
	<h2>Creating Links</h2>
	<p>This is pretty simple.</p>
	<p>Just add <code>?ref=<%= @affiliate.affiliate_id %></code> to the end of any link on the <code>tools.joebuhlig.com</code> url and you're good to go.</p>
	<p><code>http://tools.joebuhlig.com/?ref=<%= @affiliate.affiliate_id %></code></p>
	<p><code>http://tools.joebuhlig.com/working-with-omnifocus/?ref=<%= @affiliate.affiliate_id %></code></p>
	<h2>Stats</h2>
	<p>I'm still working to include this portion of the site. It should be up and running before your first payment.</p>
</div>
<% else %>
<div>
	<h2>How it works</h2>
	<div class="affiliate-instructions">
		<h3>1. <%= link_to "Sign Up", new_user_registration_path %></h3>
		<p>Create an account to recieve your affiliate links and see your stats.</p>
		<h3>2. Share</h3>
		<p>Share your links anywhere you like. The goal is to encourage folks to indulge in the tools you find here. If they click on one of your links, a cookie is assigned to their browser so I know who gets credit.</p>
		<h3>3. Get Paid</h3>
		<p>Once a month (typically the first week), I pull together all the purchases made here and tie them back to their respective affiliates. You'll be paid 20% of the purchase price after any promotions and discounts have been accounted for.</p>
		<div class="sign-up-button"><%= link_to "Sign Up!", new_user_registration_path %></div>
	</div>
</div>
<% end %>