<% if user_signed_in? %>
<div class="body">
	<h2>Creating Links</h2>
	<p>Add <code>?ref=<%= @affiliate.affiliate_id %></code> to the end of any link on the <code>tools.joebuhlig.com</code> url.</p>
	<p>Examples:</p>
	<p><code>https://tools.joebuhlig.com/?ref=<%= @affiliate.affiliate_id %></code></p>
	<p><code>https://tools.joebuhlig.com/working-with-omnifocus/?ref=<%= @affiliate.affiliate_id %></code></p>
	<h2>Payments</h2>
	<p>I will send a payment to your email via PayPal at the beginning of each month. The program currently pays 20% of the final purchase price on each product, so you'll receive 20% after all promotions and discounts have been applied.</p>
	<h2>Stats</h2>
	<table class="affiliate_payment_table">
		<thead>
			<tr>
				<td>Date</td>
				<td>Product</td>
				<td class="center-text">N</td>
				<td>Amount</td>
				<td class="center-text">Status</td>
			</tr>
		</thead>
		<tbody>
			<% @affiliate_summaries.each do |summary| %>
				<% if cycle('odd', 'even') == 'odd' %>
				<tr class="shaded">
				<% else %>
				<tr>
				<% end %>
					<td><%= summary.tdate %></td>
					<td><% if summary.product_name %><%= summary.product_name %><% else %>N/A<% end %></td>
					<td class="center-text"><% if summary.n %><%= summary.n %><% else %>0<% end %></td>
					<td><% if summary.payment %><%= number_to_currency(summary.payment) %><% else %>$0.00<% end %></td>
					<td class="center-text"><% if summary.status %><%= summary.status %><% else %>Pending<% end %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<% else %>
<div>
	<h2>How it works</h2>
	<div class="affiliate-instructions">
		<h3>1. <%= link_to "Sign Up", new_user_registration_path %></h3>
		<p>Create an account to recieve your affiliate link and see your stats.</p>
		<h3>2. Share</h3>
		<p>Share your link anywhere. If you've found these tools useful, introduce other folks to them and get paid when they use your link to make a purchase.</p>
		<h3>3. Get Paid</h3>
		<p>Once a month you will be paid 20% of the purchase price of each item bought using your link. (Percentage will apply to the purchase price after promotions and discounts.)</p>
		<div class="sign-up-button"><%= link_to "Sign Up!", new_user_registration_path %></div>
	</div>
</div>
<% end %>